<div class="sidebar">

<div class="logo-section">

    <div class="logo-circle">
        ⚙️
    </div>
    <h3>JIG TOOLS</h3>
    <p>Management</p>

</div>
<div class="sidebar-section">
        <ul>
        <li routerLink="/dashboard" id="dashboard" (click)="showDashboard()">
            Dashboard
        </li>
        <li routerLink="/dashboard" id="requests" (click)="showRequests()">
            Requests
        </li>
        </ul>
</div>
<div class="sidebar-section">
    <ul>
        <li routerLink="/drawing" routerLinkActive="active" id="dashboard">
            Drawing Queue
        </li>
        <li routerLink="/produce" routerLinkActive="active" id="requests">
            Produce Queue
        </li>
        <li routerLink="/quality" routerLinkActive="active" id="dashboard">
            QC Queue
        </li>
        <li routerLink="/handover" routerLinkActive="active" id="requests">
            Handover
        </li>
        <li routerLink="/qualityform" routerLinkActive="active" id="qualityform">
            Qualityform
        </li>
    </ul>
</div>
</div>