<div class="sidebar">

<div class="logo-section">

    <div class="logo-circle">
        ⚙️
    </div>
    <h3>JIG TOOLS</h3>
    <p>Management</p>

</div>
<div class="sidebar-section">
        <ul>
        <li routerLink="/dashboard" id="dashboard" (click)="showDashboard()">
            Dashboard
        </li>
        <li routerLink="/dashboard" id="requests" (click)="showRequests()">
            Requests
        </li>
        </ul>
</div>
<div class="sidebar-section">
    <ul>
        <li routerLink="/dashboard" id="dashboard" (click)="showDashboard()">
            Drawing Queue
        </li>
        <li routerLink="/dashboard" id="requests" (click)="showRequests()">
            Produce Queue
        </li>
        <li routerLink="/dashboard" id="dashboard" (click)="showDashboard()">
            QC Queue
        </li>
        <li routerLink="/dashboard" id="requests" (click)="showRequests()">
            Handover
        </li>
    </ul>
</div>
</div>