<div class="navbar">

    <div class="left-section">

        <input
            type="text"
            placeholder="Search..."
            class="search-box">

    </div>

   <div class="right-section">

    <span class="notification">
       <a routerLink="/login">Login</a> 
    </span>
    <span class="notification logout">
         <a  (click)="logout()">Logout</a> 
    </span>

    <span class="notification">
        🔔
    </span>

    <img
      [src]="'vertiv-logo.jpg'"
      class="profile">

</div>

</div>